.admin-layout {
  min-height: 100vh;
}

.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  color: white;
  text-align: center;
}

.logout-button-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.admin-content-area {
  margin: 0 16px;
}

.admin-content-inner {
  padding: 24px;
  min-height: 360px;
}

.admin-footer {
  text-align: center;
}
