.login-container {
  padding: 20px;
  max-width: 400px;
  margin: 30vh auto;
  border: 1px solid #aaa9a9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: #f0f0f0;
}

.login-container h2,
.login-container h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Стили формы и полей ввода */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  margin-left: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-group input {
  margin-left: 2%;
  width: 95%;
  padding: 10px;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  box-sizing: border-box; /* Гарантирует, что padding не увеличит общую ширину */
}

/* Общие стили для кнопок */
.btn {
  margin-left: 2%;
  padding: 10px;
  width: 95%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 600;
  transition: background-color 0.2s;
}

/* Цветовые схемы кнопок */
.btn-primary {
  /* Войти */
  background-color: #39424b;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.status-message {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
